@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 50px 200px;

    font-family: 'itim';

    border-radius: 0 0 10px 10px;
    
}

.logo{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
    
}

.menu a{
    text-decoration: none;
    font-size: 20px;
    color: #555555;
    
}

.doacao{ 
    padding: 7px 35px;
    background-color: #2EAF79;
    border: none;
    border-radius: 30px;
    color: #F3F3F3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;

    font-family: 'itim';
}